<!-- 11. Create Topic -->
<div id="11" class="menu-div" style="display:none">
    <form method="POST" action="/sns" >
        <span>Create SNS Topic</span><hr><br>
        <label>Topic Name:</label>
        <input placeholder ="SNS Topic Name" id ="snstopic" type="text" name="snstopic" value="<%= ui.def_snsname %>" required><br><br>
        <input type="submit" value="Create Topic"><br><br>
        <label>Response:</label>
        <textarea name="response" id ="response" readonly><%= ui.data[11] %></textarea>
    </form>
</div>

<!-- 12. Subscribe Queue -->
<div id="12" class="menu-div" style="display:none">
    <form method="POST"  action="/sns/subscribe-queue">
        <span>Subscribe Queue to SNS Topic</span><br><hr><br>
        <label>SNS Topic ARN:</label>
        <input placeholder ="SNS Topic ARN" id ="snsarn" type="text" name ="snsarn" value="<%= ui.def_snsarn %>" required><br><br>
        <label>SQS Queue ARN:</label>
        <input placeholder ="SQS Queue ARN" id ="sqsarn" type="text" name ="sqsarn" value="<%= ui.def_sqsarn %>" required ><br><br>
        <input type="submit" value="Create Queue Subscription"><br>
        <span class="required">*remember to set sns policy to queue</span><br><br>
        <label>Response:</label>
        <textarea name="response" id ="response" readonly><%= ui.data[12] %></textarea>
    </form>
</div>

<!-- 13. Subscribe Email -->
<div id="13" class="menu-div" style="display:none">
    <form method="POST" action="/sns/subscribe-email" >
        <span>Subscribe email to SNS Topic</span><br><hr><br>
        <label>SNS Topic ARN:</label>
        <input placeholder="SNS Topic ARN" id ="snsarn" type="text" name ="snsarn" value="<%= ui.def_snsarn %>" required ><br><br>
        <label>Email Address:</label>
        <input placeholder="Email Address" id ="email" type="text" name ="email" required ><br><br>
        <input type="submit" value="Create Email Subscription"><br><br>
        <label>Response:</label>
        <textarea name="response" id ="response" readonly><%= ui.data[13] %></textarea>
    </form>
</div>

<!-- 4. Subscribe Queue -->
<div id="4" class="menu-div" style="display:none">
    <form method="POST" action="/sns/message" >
        <span>Send Message to Topic</span><br><hr><br>
        <label>SNS Topic ARN:</label>
        <input placeholder ="SNS Topic ARN" id ="snstopicarn" type="text" name ="snstopicarn" value="<%= ui.def_snsarn %>" required ><br><br>
        <label>Message:</label>
        <input placeholder="Mesage" id ="snsmessage" type="text" name ="snsmessage" required >
        <br><br><input type="submit" value="Send message to topic"><br><br>
        <label>Response:</label>
        <textarea name="response" id ="response" readonly><%= ui.data[14] %></textarea>
    </form>
</div>

<!-- 5. List Topics -->
<div id="5" class="menu-div" style="display:none">
    <form method="GET" action="/sns" >
        <span>List SNS Topics</span><br><hr><br>
        <br><input type="submit" value="List Topics"><br><br>
        <label>Response:</label>
        <textarea name="response" id ="response" readonly><%= ui.data[15] %></textarea>
    </form>
</div>

<!-- 6. Create Topic -->
<div id="6" class="menu-div" style="display:none">
    <form method="POST" action="/sns/delete-topic" >
        <span>Delete SNS Topic</span><br><hr><br> 
        <label>SNS Topic ARN:</label>
        <input placeholder="SNS Topic ARN" id ="snsarn" type="text" name ="snsarn" value="<%= ui.def_snsarn %>" required >
        <br><br><input  type="submit" value="Delete Topic"><br><br>
        <label>Response:</label>
        <textarea name="response" id ="response" readonly><%= ui.data[16] %></textarea>
    </form>
</div>

<!-- 7. List Subscriptions -->
<div id="7" class="menu-div" style="display:none">
    <form method="GET" action="/sns/subscription" >
        <span>List SNS Subscriptions</span><br><hr><br>
        <br><input type="submit" value="List Subscriptions"><br><br>
        <label>Response:</label>
        <textarea name="response" id ="response" readonly><%= ui.data[17] %></textarea>
    </form>
</div>

<!-- 8. Delete Subscription -->
<div id="8" class="menu-div" style="display:none">
    <form method="POST" action="/sns/delete-subscription" >
        <span>Delete SNS Subscription</span><br><hr><br>
        <label>SNS Subscription ARN:</label>
        <input placeholder="SNS Subscription ARN" id ="snssubarn" type="text" name ="snssubarn" value="<%= ui.def_subarn %>"  required >
        <br><br><input type="submit" value="Delete Subscripiton"><br><br>
        <label>Response:</label>
        <textarea name="response" id ="response" readonly><%= ui.data[18] %></textarea>
    </form>
</div>



